.profile {
  .details {
    text-align: center;
    p {
      margin-bottom: 16px;
    }
  }
  .lottie {
    height: 200px;
  }
  .avatar {
    padding: 50px 0;
    img {
      border-radius: 50%;
      max-width: 100%;
      box-shadow: 0 7px 17px 2px rgb(0 0 0 / 50%);
    }
  }
}
