.nav {
  padding: 6px 20px 6px 25px;
  background: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title {
    flex: 1;
    padding: 2px 4px;
    font-size: 1.5em;
    font-weight: bold;
    color: #689cc5;
  }
  .horizontalNav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .verticalNav {
    width: 30%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3;
  }
  li {
    padding: 8px 12px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5;
    transition: color 0.3s;
    cursor: pointer;
    &:hover,
    &.active,
    &.active a {
      color: #689cc5;
    }
    &.navBtn {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    .horizontalNav {
      li {
        display: none;
        &.navBtn {
          display: block;
        }
      }
    }
    .verticalNav {
      background: white;
      font-weight: bold;
      display: flex;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
      li {
        text-align: center;
        background: white;
        letter-spacing: 2px;
      }
    }
  }
}
