.about {
  padding: 48px 24px;
  background-image: url("../../assets/svgs/about-bg.svg");
  transform: translateZ(0);
  .goal {
    margin: 75px 0;
    font-size: 1.1em;
    line-height: 1.75;
    text-align: center;
  }
  .justForFun {
    font-weight: bold;
    color: #409eff;
  }
}
