.contact {
  height: 100vh;
  background-image: url("../../assets/svgs/home-bg.svg");
  display: flex;
  align-items: center;
  .container {
    position: relative;
    padding: 48px;
    margin-top: 32px;
    border-radius: 6px;
    background: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .contactList {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      li {
        height: 48px;
        padding: 4px 24px;
        cursor: pointer;
        img {
          height: 100%;
        }
        div {
          font-size: 2.3em;
        }
        &:hover {
          img, div {
            animation: wobble 1s ease-in-out;
          }
          @keyframes wobble {
            0% {
              transform: translateY(0%);
            }
            15% {
              transform: translateY(-25%);
            }
            30% {
              transform: translateY(20%);
            }
            45% {
              transform: translateY(-15%);
            }
            60% {
              transform: translateY(10%);
            }
            75% {
              transform: translateY(-5%);
            }
            100% {
              transform: translateY(0%);
            }
          }
        }
      }
    }
  }
}
