* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #409EFF;
  text-decoration: none;
  transition: all 300ms;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: #409EFF;
  }
}

ul {
  list-style: none;
  > li {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

button, input {
  font: inherit;
}

:focus {
  outline: none;
}

h1 {
  margin-bottom: 16px;
}
